#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.delete{
  cursor: pointer;
  background-color: red;
  border: #000000 0.09rem solid;
}

.edit{
  cursor: pointer;
  background-color: rgb(46, 149, 209);
  border: #000000 0.09rem solid;
}


table{
  width: 100%;
  border-collapse: collapse;
  border: solid rgb(0, 0, 0) 1px;
}

tr{
  border: solid rgb(0, 0, 0) 1px;
}

th, td{
  padding: 0.5rem;
}

td{
  border: solid rgb(0, 0, 0) 1px;
}

th{
  background-color: #414141;
  border: solid rgb(0, 0, 0) 1px;
}

img{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.grass{
  background-color: #3acc3a;
}

.poison{
  background-color: #b97fc9;
}

.fire{
  background-color: #f08030;
}

.flying{
  background-color: #b6a5e9;
}

.water{
  background-color: #6890f0;
}

.bug{
  background-color: #a8b820;
}

.normal{
  background-color: #808080;
}

.electric{
  background-color: #f8d030;
}

.ground{
  background-color: #e0c068;
}

.fairy{
  background-color: #ee99ac;
}

.fighting{
  background-color: #c4443d;
}

.psychic{
  background-color: #f85888;
}

.rock{
  background-color: #b8a038;
}

.steel{
  background-color: #b8b8d0;
}

.ice{
  background-color: #98d8d8;
}

.ghost{
  background-color: #705898;
}

.dragon{
  background-color: #7038f8;
}

.dark{
  background-color: #705848;
}

.slot3{
  background-color: #fbff03;
}

